<div class="index-bg" style="height:auto;min-height:100vh">

    <div class="container index-content-position" align="center">
      <div class="row">
        <a href="/create">
          <div class="col-xs-12 col-sm-4 col-md-4 index-menu-margin">
            <div class="scale-down">
              <div class="index-create-your-own index-menu-hover">
              </div>
            </div>
          </div>
        </a>
        <a href="/existed">
          <div class="col-xs-12 col-sm-4 col-md-4 index-menu-margin">
            <div class="scale-down">
              <div class="index-choose-form-existed index-menu-hover">
              </div>
            </div>
          </div>
        </a>
        <a href="/how_to">
          <div class="col-xs-12 col-sm-4 col-md-4 index-menu-margin">
            <div class="scale-down">
              <div class="index-how-to-order index-menu-hover">
              </div>
            </div>
          </div>
        </a>

    </div>

</div>
</div>


