<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <%= stylesheet_link_tag 'idr_reports_style',type:'text/css' , media:'screen'%>
    <%= stylesheet_link_tag 'ipolo-order',type:'text/css' , media:'screen'%>
  </head>
  <body>
    <%= render @base, :patial_name => @patial_name, :varible => @varible %>
  </body>
</html>
