.ipolo-btn
  color: white
  background-color: #6ab9ec
  border-radius: 5px

.ipolo-btn:hover
  color: white
  background-color: #465a7f

.ipolo-navbar
  z-index: 10
  position: absolute
  top: 0
  left: 0
  right: 0
  margin: 0
  background-color: white
  border-radius: 0
  .dropdown-menu
    width: 100%
    a
      padding: 0 !important
    span
      font-size: .6em
      margin-right: 5px

  .navbar-brand 
    padding: 0px
    text-align: center
    img
      width: 80%
      position: absolute
      left: 8px
      top:  5px
  .navbar-nav
    li
      a
        text-align: center
        line-height: 70px
        font-size: 1.5em
        padding: 15px 45px 15px 45px

.ipolo-section-1
  background-size: cover
  background-attachment: fixed
  background-image: url(asset-path('index/index-bg-2.jpg'))
  color: white
  .fp-tableCell
    padding-top: 10%
    padding-bottom: 5%
  img
    width: 80%
  .ipolo-text-section
    text-align: center
    .ipolo-btn
      font-size: 2em
      padding: 5px 35px
      margin-bottom: 30px
    h1
      margin-top: 100px
      font-size: 3em
    h2
      font-size: 2em
      margin-top: 10px
      margin-bottom: 30px

.ipolo-section-2
  padding: 60px 15px
  .media
    img
      width: 150px
      padding: 15px

.ipolo-section-3
  padding-bottom: 280px
  padding-top: 50px
  background-color: #fafafa
  .header
    font-weight: 700
  .desc
    font-size: 1.5em
    margin-bottom: 20px
  .btn
    padding: 5px 30px
    font-size: 1.8em

.ipolo-section-4
  .owl-carousel-wrapper
    position: relative
    height: 280px
    .owl-carousel
      position: absolute
      top: -220px
      .owl-dots
        display: none
      .owl-prev
        position: absolute
        top: 50%
        transform: translateY(-50%)
        left: -45px
      .owl-next
        position: absolute
        top: 50%
        transform: translateY(-50%)
        right: -45px
  .thumbnail
    img
      padding: 15px
    .caption
      h3
        margin-top: 10px
        margin-bottom: 0px
      .btn
        width: 100%
        font-size: 1.1em
footer
  background-color: white
  padding: 25px 0px
  -webkit-box-shadow: 0px -3px 2px rgba(50, 50, 50, 0.15)
  -moz-box-shadow: 0px -3px 2px rgba(50, 50, 50, 0.15)
  box-shadow: 0px -3px 2px rgba(50, 50, 50, 0.15)
  .contract-us-wrapper
    .fa
      margin-right: 10px
    .phone
      margin-right: 20px
      font-size: 1.3em
      font-weight: 700
  .social-warpper
    a:hover
      text-decoration: none
    a
      font-size: 1.55em
      margin-left: 10px

@media screen and (max-width:993px)
  .ipolo-section-1
    text-align: center

@media screen and (min-width:768px)
  .navbar-brand-centered 
    position: absolute
    left: 50%
    display: block
    width: 160px
    text-align: center

  .navbar>.container .navbar-brand-centered, 
  .navbar>.container-fluid .navbar-brand-centered 
    margin-left: -80px

@media screen and (max-width:768px)
  .ipolo-navbar
    .navbar-brand 
      text-align: center
      img
        width: 60px
        position: absolute
        left: 50%
        transform: translateX(-50%)
    .navbar-nav
      li
        a
          cursor: pointer
          line-height: 20px

  .ipolo-section-1
    img
      width: 100%
      padding: 0px 30px
    .ipolo-text-section
      .ipolo-btn
        font-size: 1.5em
      h1
        margin-top: 50px
        font-size: 2em
      h2
        font-size: 1.88em

  .ipolo-section-2
    padding: 45px 15px
    .media
      margin-bottom: 15px
      img
        width: 100px

  .ipolo-section-4
    .owl-carousel-wrapper
      height: 200px
      .owl-carousel
        overflow: hidden
        .owl-nav
          display: none
        .owl-dots
          display: inherit

  footer
    padding: 20px 0px
    .contract-us-wrapper
      margin-bottom: 5px
      .phone
        margin-right: 0px
      .email
        display: block
    .social-warpper
      text-align: right
