// all
td {
  padding: 10px 0px 0px 0px;
}

// section1
.section1{
  font-size: 0.85em;
}

// section2
.section2{
  margin-top: 5px;
  position: relative;
}
.report-title{
  margin:0px;
  margin-top:10px;
}
.line-image{
  background-color: #4a6696;
  height: 3px;
  margin: 10px;
}
.address-text{
  padding-left:120px;
  padding-top: 5px;
}
// section3
.section3{
  margin-top: 10px;
}

.border-table{
  border: 1px solid;
  border-radius: 20px;
  padding: 12px 15px 5px 15px;
}
.first-detail{

}
.first-detail td:nth-child(1){
  width:1.5cm;
  text-align: center;
  font-weight: bold;
}
.first-detail td:nth-child(2){
  width:12cm;
  border-bottom: 1px solid blue;
}
.first-detail td:nth-child(3){
  width:3cm;
  text-align: center;
  font-weight: bold;

}
.first-detail td:nth-child(4){
  width:4cm;
  border-bottom: 1px solid blue;
  text-align: center;

}
.second-detail{

}
.second-detail td:nth-child(1){
  width:1.5cm;
  text-align: center;
  font-weight: bold;

}
.second-detail td:nth-child(2){
  width:7cm;
  border-bottom: 1px solid blue;
}
.second-detail td:nth-child(3){
  width:3.5cm;
  text-align: center;
  font-weight: bold;
}
.second-detail td:nth-child(4){
  width:8.5cm;
  border-bottom: 1px solid blue;
}

// section4
.section4{
  margin-top: 10px;
}

.item-box{
  border-collapse:collapse;
}
.item-box td{
  border-left:1px solid;
  border-right:1px solid;
  padding-left: 5px;
  padding-right: 5px;
}
.item-box tr:nth-child(1) td{
  padding: 5px 2px 2px 2px;
  border:1px solid;
  text-align: center;
  background: #ccc;
  font-weight: bold;
}
.item-box .footer-item td{
  padding: 10px 5px 10px 5px;
  border:1px solid;
  text-align: center;
  font-weight: bold;
  line-height: 85%;
}



// section5
.section5{
  margin-top: 10px;

}
.confirm-box{
  font-weight: bold;
  border-collapse: collapse;
}
.confirm-box td{
  border:1px solid;
  padding: 5px;
}

.confirm-box-1 td:nth-child(1){
  padding-left: 15px;
  width:10.3cm;
}
.confirm-box-1 td:nth-child(2){
  text-align: center;
  width:10cm;
}

.panel-heading .accordion-toggle:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e114";    /* adjust as needed, taken from bootstrap.css */
  float: right;        /* adjust as needed */
  color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.ipolo-orders-wrapper{
  padding-top: 120px;
  h1{
    font-size: 2.3em;
    text-align: center;
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
  }
  .order-row{
    margin-bottom: 30px;
    border-bottom: 2px solid #ddd;
    padding-bottom: 15px;
    .order-img{
      width: 100%;
      margin-bottom: 15px;
    }
    .order-btn{
      width: 100%;
      font-size: 1.2em;
      line-height: 1;
    }
    .order-price{
      float: right;
      font-size: 1.5em;
    }
    .panel-title{
      font-size: 24px;
    }
    .order-created{
      float: right;
      font-size: .8em;
    }
    .order-status{
      text-align: center;
      font-size: 1.4em;
      font-weight: 700;
      margin-bottom: 15px;
      &.pending{
        color: #f0ad4e;
      }
      &.quotation{
        color: #5cb85c;
      }
    }

  }
}

@media screen and (max-width:768px){
  .ipolo-orders-wrapper{
    padding-top: 80px;
    .order-row{
      .order-img{
        margin-bottom: 20px;
      }
      .order-created{
        font-size: .5em;
        line-height: 2.5;
      }
    }
  }
}
